main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.navbar {
    display: flex;
    align-items: center;
    
    background: rebeccapurple;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item:visited {
  color: pink;
}
.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}